$bg-color: #FFFFFF;
$primary-color: #2860B5;
$additional-color: #DEDEDE;
$additional-light-color: #F8F8F8;
$accent-color: #0D3776;
$light-color: #FFFFFF;
$dark-color: #000000;
$disabled-color: grey;
$xs: 375px;
$sm: 576px;
$md: 769px;
$lg: 1025px;
$xl: 1200px;
$xxl: 1440px;